/* Dasboard */
.containerr {
  width: 1300px;
  overflow: hidden;
  margin: 50px auto;
  padding: 20px;
  display: flex;
}
.nameofcompany {
  font-size: 80px;
  color: #6d5bb4;
  margin-top: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 3px #493b3b;
  animation-name: example;
  animation-duration: 20s;
}
@keyframes example {
  0% {
    color: #f07272;
  }
  25% {
    color: #93dd1c;
  }
  50% {
    color: #98a5ff;
  }
  75% {
    color: #d60000b4;
  }
  100% {
    color: #8bdbc1;
  }
}
.PurchaseBox {
  float: left;
  width: 22rem;
  height: 12rem;
  border-radius: 30px;
  position: relative;
  box-shadow: 2px 2px 3px gray;
  background-color: #f07272;
  text-shadow: 1px 1px 3px #493b3b;
  cursor: pointer;
  transition: transform 100ms ease-in;
}
.divdatebox {
  text-align: end;
}
.PurchaseBox:hover {
  transform: scale(1.07);
}
.purchaselogo {
  background-image: url("../truck2.png");
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 10px;
  margin-left: 120px;
  transform: scaleX(-1);
}
.purText {
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
  margin-top: 130px;
  margin-left: 80px;
}
.datetimehome {
  font-size: 20px;
  align-items: center;
  color: #f07272;
  font-weight: bold;
}

.text3 {
  margin-left: 120px;
}
.ProductionBox {
  margin: 0 auto;
  width: 22rem;
  height: 12rem;
  border-radius: 30px;
  box-shadow: 2px 2px 3px gray;
  position: relative;
  background-color: #98a5ff;
  text-shadow: 1px 1px 3px #493b3b;
  cursor: pointer;
  transition: transform 100ms ease-in;
}
.ProductionBox:hover {
  transform: scale(1.07);
}
.productionlogo {
  background-image: url("../prologo.png");
  width: 160px;
  height: 110px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 105px;
}
.editLoading {
  color: #3922a1;
  border-radius: 80px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.sellingBox {
  width: 22rem;
  height: 12rem;
  float: right;
  border-radius: 30px;
  box-shadow: 2px 2px 3px gray;
  position: relative;
  background-color: #8bdbc1;
  text-shadow: 1px 1px 3px #493b3b;
  cursor: pointer;
  transition: transform 100ms ease-in;
}
.sellingBox:hover {
  transform: scale(1.07);
}
.sellinglogo {
  background-image: url("../truck2.png");
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 125px;
}
.userDiv {
  cursor: pointer;
}
.userDiv:hover {
  background-color: rgba(161, 161, 161, 0.13);
}
.userText {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 30px;
}
.userTexticon {
  font-size: 36px;
}
/* ProfileStyle */
.CurrentUSer {
  float: left;
  width: 32rem;
  height: 30rem;
  border-radius: 30px;
  position: relative;
  box-shadow: 2px 2px 3px gray;
  background-color: #509ea3;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
.ALlUSerBox {
  width: 40rem;
  height: 30rem;
  float: right;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 2px 2px 3px gray;
  position: relative;
  background-color: #705ec2;
  cursor: pointer;
  margin-left: 120px;
  font-weight: bold;
}
.CurrntUSerText {
  font-size: 30px;
  color: rgb(19, 35, 51);
  font-weight: bold;
  text-align: center;
}
.userTexticon {
  text-align: center;
}
.headingofcurrunttext {
  background-color: #fff;
  margin-top: 20px;
  padding: 10px;
  font-size: 40px;
  margin-left: 4px;
  margin-right: 4px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  text-shadow: 1px 1px 3px #493b3b;
}
.AlluserText {
  font-size: 30px;
  color: rgb(7, 21, 32);
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
}
.alluserText {
  margin-top: 10px;
}
@media screen and (max-width: 1220px) {
  .containerr {
    width: 100%;
    height: 70rem;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
  }
  .nameofcompany {
    font-size: 60px;
  }
  .PurchaseBox {
    width: 100%;
    height: 200px;
    border: 0;
    margin: 0 auto;
    margin-top: 20px;
  }
  .username {
    font-size: 70px;
  }
  .ProductionBox {
    width: 100%;
    height: 200px;
    border: 0;
    margin-top: 20px;
  }
  .sellingBox {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border: 0;
    margin-top: 20px;
    flex-direction: row;
  }
  .purText {
    font-size: 30px;
    text-shadow: 1px 3px 3px #493b3b;
    color: aliceblue;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 140px;
    margin-left: 80px;
  }
  .text1 {
    margin-left: 90px;
  }
  .text3 {
    margin-left: 110px;
  }
  .purchaselogo {
    margin-top: 10px;
    margin-left: 100px;
  }
  .productionlogo {
    margin-top: 10px;
    margin-left: -20px;
  }
  .sellinglogo {
    margin-top: 10px;
    margin-left: -20px;
  }
/* //profile */
  .CurrentUSer {
    flex-direction: row;
    width: 100%;
    height: 50%;
    border-radius: 30px;
    position: relative;
    box-shadow: 2px 2px 3px gray;
    background-color: #509ea3;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
  }
  .ALlUSerBox {
    width: 100%;
    height: 50%;
    margin-top: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 2px 2px 3px gray;
    position: relative;
    background-color: #705ec2;
    cursor: pointer;  
    margin-left: 0px;
    font-weight: bold;
    flex-direction: row;
  }
  .CurrntUSerText {
    font-size: 20px;
    color: rgb(19, 35, 51);
    font-weight: bold;
    text-align: center;
  }
  .userTexticon {
    text-align: center;
  }
  .headingofcurrunttext {
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
    font-size: 40px;
    margin-left: 4px;
    margin-right: 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    text-shadow: 1px 1px 3px #493b3b;
  }
  .AlluserText {
    font-size: 20px;
    color: rgb(7, 21, 32);
    font-weight: bold;
   
  }
  .alluserText {
    margin-top: 10px;
  }





}
