.purchase {
  display: grid;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 15px;
}
.serchtextbox{
  width: 300px;
  margin-left: 20px;
  float: right;
}
.serchtextboxparti
{
  width: 300px;
  float: left;
}
.listserchBoxpar{
  padding: 10px;
  background-color: #3f51b5
}
.searchBoxe
{
  margin-top: 20px;
  background-color: #180D44;
  height: 80px;
 padding: 20px;
}
.header{
  margin-top: 20px;
  font-size: 60px;
  text-decoration: underline;
  text-align: center;
  color: #180D44;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 }
.purchasefrom {
  display: grid;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  
  box-shadow: 4px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.purchasefrom > form {
  display: grid;
}

.purchasefrom > form > button {
  padding: 14px;
  border-radius: 30px;
  border: none;
  outline-width: 0;
  font-size: large;
  color: white;
  margin: 12px;
  margin-top: 30px;
  background-color: steelblue;
}
.labletext {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 5px;
  font-weight: bold;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.inputitem {
  outline-width: 0;
  border: none;
  padding: 13px 20px;
  margin: 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 999px;
  font-weight: bold;
  background-color: #d2dbe4;
  font-size: 20px;
}
