
.header{
    margin-top: 20px;
    font-size: 60px;
    text-decoration: underline;
    text-align: center;
    color: #180D44;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   }
   .dropDiv{
       margin-top: 50px;
   }