.header {
  margin-top: 20px;
  font-size: 60px;
  text-decoration: underline;
  text-align: center;
  color: #180d44;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.dropDiv {
  margin-top: 50px;
  display: grid;
}
.productDrop{
  margin-left: 80px;
  font-size: 20px;
  
}
.labelOfCurrntUser {
  color: #3f51b5;
  font-size: 25px;
  float: right;
  margin-right: 50px;
  font-weight: bold;
}
.lableOfProduct {
  color: #3f51b5;
  font-size: 25px;
  margin-left: 90px;
  font-weight: bold;
}
.LableBox {
  margin-top: 20px;
  background-color: aliceblue;
  margin-bottom: 20px;
  border-radius: 40px;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.dropdownMenu1 {
  color: #3f51b5;
  font-weight: bold;
  border-bottom: none;
  padding: 10px;
  width: 230px;
  height: 40px;
  margin-left: 70px;
  font-size: 20px;
  cursor: pointer;
  background-color: #d2dbe4;
  border-radius: 5px;
}
.OptionsDropDown {
  color: #fff;
  background-color: #3f51b5;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}
.OptionsDropDown:hover {
  color: #3f51b5;
  background-color: #fff;
}
