.inputOutWeight {
  background-color: rgb(219, 219, 219);
  border-radius: 6px;
  border-width: 0px;
  outline-width: 0;
  padding-left: 10px;
 width: 100%;
  
}
.dataweightBox{
  display: grid;
}
.addweightbtn{
  background-color: #180D44;
  border-radius: 10px;
  font-size: 15px;
  outline-width: 0;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  color: aliceblue;
  font-weight: bold;
}
.addweightbtn:hover{
 color:  black;
 
 background-color: white;
}