/* Search*/
.donee{
  color: #12fd3a;
}
.headersearch{
  margin-top: 20px;
  font-size: 60px;
  text-decoration: underline;
  text-align: center;
  color: #180D44;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.lidatasearch{
  font-size: 30px;
  text-align: center;
  color: #fcfcfc;
  flex-direction: column;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.listserchBox{
  background-color: #180d44;
  padding: 20px;
}
/* header */
.fonttext {
  font-size: 1.3rem;
  padding-top: 8px;
  margin-left: 20px;
  margin-top: 4px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 1px 3px #3922a1;
  color: #ffffff;
}
.iconsheader{
    font-size: 80px;
    color: white;
}
.butdesign {
  color: #ffffff;
  font-weight: bold;
  border-width: 2px;
  border-radius: 1px;
  border-color: #180d44;
  font-size: 12px;
}
.texticon {
  color: #3f51b5;
  display: grid;
  margin: 3px;
}
.texticon:hover {
  color: #ffffff;
}
.navbar {
  background-color: #3f51b5;
  border-color: #3f51b5;

}

.form-inline {
  margin-bottom: 0px;
}
.header_middle {
  display: flex;
  float: 1;
  justify-content: center;
}
.header_option {
  color: gray;
}
.header_option {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  cursor: pointer;
}
.header_option:hover {
  background-color: #4196ebb7;
  border-radius: 10px;
  align-items: center;
  padding: 10px 30px;
  border-bottom: none;
}
.header_info {
  display: flex;
  align-items: center;
}
.header_info > h4 {
  margin-left: 20px;
  margin-right: 0px;
  color: black;
  width: bold;
}
.slideBtn {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  width: 20px;
  height: 30px;
}
.LogOutBtn {
  margin-top: 600px;
  margin-left: 20px;
  width: 250px;
}
.navLogo {
  transition: all 1s ease-in-out;
}
.navLogo:hover {
  transform: scale(1.9);
}

/* loader */
.loader {
  width: 12px;
  height: 12px;
  margin: 20px auto;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 2px 2px 3px gray;
}

@media screen and (max-width: 1031px) {

.header_middle {
 display: contents;
 margin: 20px;
 justify-content: space-around;
}
.header_option{
  display:grid;
  margin: 20px;
  padding: 10px;
}
.texticon{
  display: none;
}
}

