/* header */
.fonttext {
  font-size: 1.2rem;
  padding-top: 8px;
  color: #ffffff;
}
.butdesign {
  color: #ffffff;
  font-weight: bold;
  border-width: 2px;
  border-radius: 1px;
  border-color: #180d44;
  font-size: 12px;
}
.navbar {
  background-color: #180d44;
  border-color: #180d44;
  position: sticky;
  display: flex;
}

@media screen and (max-width: 1220px) {
.navbar{
  display: grid;
}
}

.form-inline {
  margin-bottom: 0px;
}
.header_middle {
  display: flex;
  float: 1;
  justify-content: center;
}
.header_option {
  color: gray;
}
.header_option {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  cursor: pointer;
}
.header_option:hover {
  background-color: #6b7580;
  border-radius: 10px;
  align-items: center;
  padding: 10px 30px;
  border-bottom: none;
}
.header_info {
  display: flex;
  align-items: center;
}
.header_info > h4 {
  margin-left: 20px;
  margin-right: 0px;
  color: black;
  width: bold;
}
.slideBtn {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  width: 20px;
  height: 30px;
}
.LogOutBtn {
  margin-top: 600px;
  margin-left: 20px;
  width: 250px;
}
.navLogo {
  transition: all 1s ease-in-out;
}
.navLogo:hover {
  transform: scale(1.9);
}

/* loader */
.loader {
  width: 12px;
  height: 12px;
  margin: 20px auto;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 2px 2px 3px gray;
}
